*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-image: linear-gradient(to top, red , yellow);
    color: #000;
    font-family: 'Lucida Sans', sans-serif;
}

.grid{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

.grid .header,
.grid .main,
.grid .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.grid .header{
    display: flex;
    justify-content: space-between;
    background: #12203E ;
    color: #fff;
    grid-row: 1;
}

.grid .header > img{
    width: 200px;
    border-radius: 4px;
}

.grid .header .nav,
.grid .header li,
.grid .header li > a{
    grid-column: 3;
    text-align: right;
    background: #12203e;
    color: #fff;
    text-decoration: none;
}

.grid .main{
    background: #faa43d;
    font-size: 20px;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid .main .post1 > img,
.grid .main .post2 > img{
	height: 15rem;
    border-radius: 4px;
}

.formulario{
    padding: 45px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 45px;
}


.grid .footer{
    background: #12203E;
    color: #fff;
    grid-column: span 3;
}

@media screen and (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, auto);
    }
    .grid .header{
        grid-column: 1 / -1;
    }
    .grid .main{
        grid-column: 2;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    .grid .main .post1,
    .grid .main .post2{
        margin: 5px;
        padding: 5px;
    }
}
@media screen and (min-width: 1023px){
    .grid{
        grid-template-columns: repeat(3, auto);
    }
    .grid .header{
        grid-column: 1 / -1;
    }
    .grid .main{
        grid-column: 2;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }
    .grid .main .post1,
    .grid .main .post2{
        margin: 5px;
        padding: 5px;
    }
}