*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background: #59abe3;
    margin: 0;
    color: #000;
    font-family: 'Lucida Sans', sans-serif;
}

.grid{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

.grid .header,
.grid .main,
.grid .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.grid .header{
    display: flex;
    justify-content: space-between;
    background: #12203E ;
    color: #fff;
    grid-row: 1;
}

.grid .header > img{
    width: 200px;
    border-radius: 4px;
}

.grid .header .nav,
.grid .header li,
.grid .header li > a{
    grid-column: 3;
    text-align: right;
    background: #12203e;
    color: #fff;
    text-decoration: none;
}

.grid .main{
    background-image: linear-gradient(to top, red , yellow);
    font-size: 20px;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid .main .post1 > img,
.grid .main .post2 > img{
	height: 15rem;
    border-radius: 4px;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

.form {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c;
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #78788c;
    color: #fff;
}

.grid .footer{
    background: #12203E;
    color: #fff;
    grid-column: span 3;
}

@media screen and (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, auto);
    }
    .grid .header{
        grid-column: 1 / -1;
    }
    .grid .main{
        grid-column: 2;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    }
    .grid .main .post1,
    .grid .main .post2{
        margin: 5px;
        padding: 5px;
    }
}
@media screen and (min-width: 1023px){
    .grid{
        grid-template-columns: repeat(3, auto);
    }
    .grid .header{
        grid-column: 1 / -1;
    }
    .grid .main{
        grid-column: 2;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }
    .grid .main .post1,
    .grid .main .post2{
        margin: 5px;
        padding: 5px;
    }
}